*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.divider {
  margin: 50px 0;
  height: 1px;
  width: 50%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #f1f1f1;
}

.sectionTitle {
  font-size: 2rem;
  padding-bottom: 20px;
}

.newPostsPosts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.newPostsPosts .post {
  width: 100%;
  background: #f0f0f0;
  padding: 20px;
}

.newPostsPosts .post .props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newPostsPosts .post .props .attri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newPostsPosts .post .props .attri .hearts {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #dbdbdb;
}

.newPostsPosts .post .props .attri .hearts p {
  margin-right: 5px;
}

.newPostsPosts .post .props .attri .hearts .heart {
  font-weight: bolder;
}

.newPostsPosts .post .props .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newPostsPosts .post .props .actions .time {
  color: #5a5a5a;
  margin-right: 10px;
}

.newPostsPosts .post .props .actions .btn button {
  background: #d4d4d4;
  padding: 5px 20px;
  border: none;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  outline: none;
}

.newPostsPosts .post .postCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 0 0;
}

.newPostsPosts .post .postCon .title {
  padding: 0 0 10px 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.newPostsPosts .post .postCon .tags {
  display: block;
  padding: 10px 0;
}

.newPostsPosts .post .postCon .tags .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  float: left;
  padding: 5px 10px;
  background: white;
  color: black;
  font-style: italic;
  border-radius: 20px;
}

.newPostsPosts .post .postCon .tags .tag .hash {
  font-weight: bold;
  margin-right: 5px;
}

.newPostsPosts .post .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newPostsPosts .post .topbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newPostsPosts .post .topbar .content .image {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.newPostsPosts .post .topbar .content .image img {
  height: 100%;
}

.newPostsPosts .post .topbar .content .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.newPostsPosts .post .topbar .content .data .name {
  font-size: 1rem;
  font-weight: normal;
}

.newPostsPosts .post .topbar .content .data .date {
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */