.logout{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        padding:12px 30px;
        font-size: 1.1rem;
        background:rgb(226, 226, 226);
        border:0;
    }
}