.post-wrap{
    width: 100%;
    padding:0 0 20px 0;
    .thumb{
        display: flex;
        justify-content: center;
        img{
            margin:20px auto;
            width: 100%;
        }
    }
    *{
        line-height: 1.5rem;
    }
    h1,h2,h3,h4,h5,h6{
        padding:30px 0 10px 0;
    }
}
.f0f{
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}


.overlay{
    position:  fixed;
    top:50%;
    display: flex;
    flex-direction: column;
    right:20px;
    padding:20px 20px;
    background:white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    button{
        padding:20px;
    }
}

