.post-wrap{
    width: 100%;
    padding:0 0 20px 0;
    .thumb{
        display: flex;
        justify-content: center;
        img{
            height: 400px;
            margin:50px auto;
        }
    }
    *{
        line-height: 1.5rem;
    }
    h1,h2,h3,h4,h5,h6{
        padding:30px 0 10px 0;
    }
}

.f0f{
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}