.container{
    max-width: 1000px;
    margin:0 auto;
}

.header{
    width: 100%;
    padding:20px 0;
    display: flex;
    justify-content: space-between;
}

.pageTitle{
    font-weight: 200;
    font-size: 2.3rem;
}

.secImageWrapWrap{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.homeMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0px auto;
    column-gap: 30px;
}

.homeMainCh{
    height: auto;
}

.homeMainChMainPostImage{
    overflow: hidden;
    height: 500px;
}

.fullWidthImage{
    width:100%;
    margin-top:-40%;
}

.mainChInfo{
    display: flex;
    flex-direction: column;
}

.mainChInfoTitle{
    font-weight: 300;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(50 , 50, 50);
    margin-top: 20px;
    margin-bottom: 10px;
}

.mainChInfoExtract{
    font-size:1.1rem;
}

.innerSecCh{
    display: flex;
    flex-direction: column;
}

.innerSecChStory{
    max-width: 100%;
    display: flex;
    height:100px;
    margin-bottom: 20px;
}

.innerSecChStory:last-child{
    margin-bottom: 0;
}

.innerSecChStoryImageWrap{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secStoryImg{
    max-height: 100px;
    max-width: 100px;
}
.secStoryTitle{
    font-size: 1.3rem;
    font-weight: 400;
    color:rgb(54, 54, 54);
    margin-bottom: 5px;
}

.secStoryExtract{
    font-size: 1rem;
    word-wrap: normal;
}

.SecChStoryInfo{
    margin-left: 20px;
}


.navBarUL{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarULListItem{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    padding: 0 0 2px 0;
}

.navBarULListItem a{
    
    text-decoration: none;
    color: black;
}

.navBarULListItem:hover::after{
    width: 100%;
}
.navBarULListItem::after{
    content: '';
    position: absolute;
    height: 2px;
    bottom: -2px;
    left:50%;
    width: 0%;
    background: black;
    transform: translateX(-50%);
    transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
